<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111475004-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-111475004-1');
        </script>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8213440250297123",
        enable_page_level_ads: true
        });
        </script>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!-- Title changes according the page's respective controller -->
        <title>Codeigniter simple hospital searching application project with form validation and Google recaptcha</title>
        <meta name="author" content="Abhigyan Tiwari">
        <meta name="description" content="How to make API powered hotel searching application in Codeigniter with captcha validation.">
       <meta name="keywords" content="Codeigniter, codeigniter example, codeigniter search example, codeigniter hospital search application project, codeigniter ">

        <!-- I love Samosa, mo tan anythin -->
        <link rel="icon" href="../../favicon.ico">
        
        <!-- HTML5 Boilerplate Opinionated CSS -->
        <link rel="stylesheet" href="../../resources/css/vendor/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
        <link rel="stylesheet" href="../../resources/css/vendor/normalize.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Questrial" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="../../resources/css/blog.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet"
            href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        </head>
        <body>
            
            <div class="container">
                <div class="row">
                    <!-- Blog Nav -->
                    <div class="col-sm-12 text-right blog-nav">
                        <a href="../../index.html" class="nav-link">Home</a>
                        <a href="../blog.html" class="nav-link">Blog</a>
                        <a href="../projects.html" class="nav-link">Projects</a>
                        <a href="../about.html"  class="nav-link">About</a>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <div class="text-left blog-frag">
                            <h1 class="blog-title">Codeigniter simple hospital searching application project with form validation and Google recaptcha</h1>
                            <i class="blog-date">
                            <i class="fa fa-calendar fa-lg"></i>
                            Friday 9 February 2018</i>
                            <div class="blog-body">
                              <p>In this article I show how to make a Hospital search Web-application using Codeigniter (PHP framework), it will have simple form validation and captcha from Google will also be there. The final project will look something like this...</p>
                              <img src="../../resources/images/blog/hospital-search.jpg" alt="Homepage of hospital searach application" class="img-responsive blog-img">
                            <p>Search results:</p>
                            <img src="../../resources/images/blog/hospital-search-result.jpg" alt="Search results of hospital search application" class="img-responsive blog-img">
                            </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            
            <script>hljs.initHighlightingOnLoad();</script>
            <script src="../../resources/scripts/vendor/modernizr-3.5.0.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script>window.jQuery || document.write('<script src="../../resources/scripts/vendor/jquery-3.2.1.min.js"><\/script>')</script>
            <script src="../../resources/scripts/main.js"></script>
            <script src="../../resources/scripts/vendor/plugins.js"></script>
        </body>
    </html>