body, html{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/blog-bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.blog-title{
    font-family: 'Pacifico';
    color: #00bfa5;
    font-size: 48px;
    margin-left: 35px;
}
.links{
    padding-right: 80px;
}
.links a{
    background-color: white;
    border-radius: 4px;
    border: 1px solid #00b8d4;
    padding: 5px 10px;
    text-decoration: none !important;
    -webkit-box-shadow: 0px 4px 23px 0px rgba(102,102,102,0.7); 
box-shadow: 0px 4px 23px 0px rgba(102,102,102,0.7);
}
.new-posts{
    border-radius: 0px;
    background-color: #fbc02d;
}
.new, .rec, .all{
    padding: 10px 20px;
    font-family: sans-serif;
    font-size: 19px;
    border-radius: 0px;
    border-bottom-right-radius: 5px;
    background-color: #00bfa5;
    -webkit-box-shadow: 0px 4px 23px 0px rgba(125,204,168,0.7); 
box-shadow: 0px 4px 23px 0px rgba(125,204,168,0.7);
}
.all{
    border-bottom-left-radius: 5px;
}
.parent-cont{
    -webkit-box-shadow: 0px 4px 23px 0px rgba(125,204,168,0.7); 
box-shadow: 0px 4px 23px 0px rgba(125,204,168,0.7);
}
.new-posts h1{
    font-family: serif;
}
.rec-posts{
    text-align: left;
}
.rec-posts h2{
    font-family: sans-serif;
    font-size: 24px;
    text-decoration: underline;
}
.all-posts{
    padding: 40px;
    margin-left: 30px;
    margin-right: 30px;
    -webkit-box-shadow: 0px 4px 23px 0px rgba(125,204,168,0.7); 
box-shadow: 0px 4px 23px 0px rgba(125,204,168,0.7);
}
.all-posts h1{
    font-family: serif;
    padding: 20px;
}
.date{
    padding-left: 20px;
}
.divider{
    border-bottom:1px solid #bdbdbd;
    margin-left: 25px;
    margin-right: 25px;
}
@media (max-width: 768px) { 
    .links{
        text-align: center;
        padding-right: 0px;
    }
    .links a{
        padding-right: 0px;
        background-color: white;
        border: 1px solid green;
        border-radius: 5px;
        padding:10px;
        text-decoration: none !important;
    }
    .blog-title{
        margin-left: 0px;
    }
    .blog-title-cont{
        text-align: center;
    }
    .all-posts{
        margin-left: 0px;
        margin-right: 0px;
    }
}