
<div class="row">   
<div class="col-sm-12"> 
<a href="#!/"><i class="fa fa-arrow-circle-left fa-3x" style="color: #ffeb3b;margin: 20px"></i></a>
</div></div>
<div class="container abt-container">
    <div class="row">
        <div class="col-sm-12">
            <h1 style="color: #757575;font-family: 'sans-serif'">Pouring moments as Input; Creating. Bliss!</h1>
            <h3 style="color: #bdbdbd;font-family: Nunito,'sans-serif'">Spending my time learning and crafting engines that power the frontend</h3>
            <hr width="80%">
        </div>
        <div class="col-sm-12" style="margin-top: 40px;margin-bottom: 40px;">
            <h2 class="label label-info" style="font-size: 24px;">The Story</h2>
        </div>
        <div class="col-sm-12">
            <div class="jumbotron" style="padding: 10px 10px;">
                <p class="abt-story text-left" style="color: #757575">
                    Born on 1998, December 17, used to broke everything came into my way. Be it a Generator room for a factory or
                    RC car. No kid can have the amount of curiosity I have then to know how things work. The interests for machines
                    grew year by year massively.
                </p>
                <p class="text-left" style="color: #757575">
                    In 2011, father gifted first computer. In the next two years, the interests for machines and cars increased even
                    more via internet. Due to that <i>'lan cable'</i>, later, interests started to shift to coding and how computers worked.
                    I did a mistake of deep diving in computer world that I got lost in it and didn't clear my high school.
                </p>
                <p class="text-left" style="color: #757575">
                    Today, I can make both Front-end and Back-end parts of a Website/Web-application. There comes a joy, more than anybody,
                    when I craft Web-pages/Apps (CSS suck though); Be it a database-driven Web-aplication or a static website. I also like
                    designing before developing the projects: on paper and then digitally, keeping typography, colors and your content? in mind.
                </p>
            </div>
        </div>

        <div class="page-header text-left">
            <h3 style="color: #757575;font-family: Nunito,'sans-serif'">What's in my small mind..</h3>
        </div>
        <div class="col-sm-12">
                <span class="label label-warning">JavaScript</span>
                <span class="label label-danger">AngularJS</span>
                <span class="label label-primary">PHP</span>
                <span class="label label-info">C</span>
                <span class="label label-info">C++</span>
                <span class="label label-danger">git</span>
                <span class="label label-warning">Illustrator</span>
                <span class="label label-success">Python</span>
                <span class="label label-danger">Linux</span>
                <span class="label label-danger">HTML5</span>
                <span class="label label-warning">CSS3</span>
                <span class="label label-warning">jquery</span>
        </div>

        <br><br>

        <div class="page-header text-left" id="contact">
            <h1 style="color: #757575;font-family: Nunito,'sans-serif'">Get in Touch...</h1>
        </div>
        <div class="col-sm-12">
            <a href="https://www.linkedin.com/in/abhigyantiwari/" target="_blank" title="Link to my LinkedIn Profile"><img src="resources/images/l.png" alt="linkedin profile" class="img-responsive link-icon"></a>
            <a href="https://github.com/abhigyantiwari" target="_blank" title="Link to my Github Profile"><img src="resources/images/g.png" alt="github profile" class="img-responsive link-icon"></a>
            <a href="https://www.facebook.com/tiwariabhigyangaurave" target="_blank" title="Link to my Facebook Profile"><img src="resources/images/f.png" alt="facebook profile" class="img-responsive link-icon"></a>
            <a href="https://www.instagram.com/tiwariabhigyan" target="_blank" title="Link to my Instagram Profile"><img src="resources/images/i.png" alt="instagram profile" class="img-responsive link-icon"></a>
        </div>
                <br><br><br><br>

        <div class="container">
        <iframe style="height: 300px;width: 100%" 
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyADnVTOd-MxHJTR03SgjeXWerzyLadxltg&q=iiht+kala+ghoda+station+road+sarod+sayajiganj+vadodara+gujarat"allowfullscreen>
            </iframe>
        </div>
    </div>
</div>