<a href="#!/"><i class="fa fa-arrow-circle-left fa-3x" style="color: #ffeb3b;position:absolute;top: 20px;left: 20px;"></i></a>
<div class="container abt-container">
    <div class="row">
        <div class="abt-me-col col-sm-12 text-left">
            <h3 style="color: #bdbdbd;font-family: Nunito,'sans-serif'"><u>About</u></h3>
        </div>
        <div class="col-sm-12">
            <h1 style="color: #757575;font-family: 'sans-serif'">Pouring moments as Input; Creating. Bliss!</h1>
            <h3 style="color: #bdbdbd;font-family: Nunito,'sans-serif'">Spending my time learning and crafting engines that power the frontend</h3>
            <hr width="80%">
        </div>
    </div>
</div>