<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>About | Abhigyan Tiwari</title>

        <meta name="description" content="Hello, I'm Abhigyan Tiwari, free as wind. Do You Have Web Development Work or a User Interface Design Work?
        I Can Do It For You!">
        <meta name="keywords" content="Web Developer, Web Application Developer, User Interface Designer in Vadodara, Web Developer in Vadodara,
        Back-end Developer, Back End, Front End Developer, Freelance Developer in Vadodara, Gujarat, India, C, C++, PHP, MYSQL, AngularJS, Bootstrap, Jquery, Materialize, Developer">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- I love Samosa, mo tan anythin -->

        <link rel="icon" href="../favicon.ico">
        
        <!-- HTML5 Boilerplate Opinionated CSS -->

        <link rel="stylesheet" href="../resources/css/vendor/main.css">
        <link href="../resources/css/vendor/animate.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="../resources/css/vendor/normalize.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../resources/css/about.css">
    </head>
    <body>
        <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Top Power Lines -->
        
        <div class="row">
            <div class="col-sm-12">
                <a href="../index.html"><i class="fa fa-arrow-circle-left fa-3x" style="color: #ffeb3b;margin: 20px"></i></a>
            </div></div>
            <div class="container abt-container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 style="color: #757575;font-family: 'sans-serif'">Pouring Moments as Input; Creating, Bliss!</h1>
                        <h3 style="color: #bdbdbd;font-family: Nunito,'sans-serif'">Spending my time learning and crafting engines that power the frontend</h3>
                        <hr width="80%">
                    </div>

                    <!-- Skills -->

                        <div class="col-sm-12" style="margin-top: 40px;margin-bottom: 40px;">
                            <h2 class="label label-success" style="font-size: 24px;">What do I know</h2>
                        </div>
                    <div class="col-sm-12">
                         <div class="container">
                             <div class="row">
                                 <div class="col-md-4">
                                    <h1 style="color: #757575;font-family: Nunito,'sans-serif'">C <span style="font-family: sans-serif;font-size: 14px;color: grey;">C99</span>&nbsp<span class="label label-primary" style="font-size: 10px">certification</span></h1>
                                    <div class="progress" style="width: 200px;">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="62"
                                        aria-valuemin="0" aria-valuemax="100" style="width:62%">
                                            62%
                                        </div>
                                    </div>      
                                 </div>
                                 <div class="col-md-4">
                                    <h1 style="color: #757575;font-family: Nunito,'sans-serif'">C++ <span style="font-family: sans-serif;font-size: 14px;color: grey;">C++11</span>&nbsp<span class="label label-primary" style="font-size: 10px">certification</span></h1>
                                    <div class="progress" style="width: 200px;">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                                        aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                            50%
                                        </div>
                                    </div>      
                                 </div>
                                  <div class="col-md-4">
                                    <h1 style="color: #757575;font-family: Nunito,'sans-serif'">Python <span style="font-family: sans-serif;font-size: 14px;color: grey;">Python 2.x.x</span></h1>
                                    <div class="progress" style="width: 200px;">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="55"
                                        aria-valuemin="0" aria-valuemax="100" style="width:55%">
                                            55%
                                        </div>
                                    </div>      
                                 </div>
                                 <div class="col-md-4">
                                    <h1 style="color: #757575;font-family: Nunito,'sans-serif'">PHP <span style="font-family: sans-serif;font-size: 14px;color: grey;">PHP 5.x.x</span>&nbsp<span class="label label-primary" style="font-size: 10px">certification</span></h1>
                                    <div class="progress" style="width: 200px;">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                            70%
                                        </div>
                                    </div>      
                                 </div>
                                 <div class="col-md-4">
                                    <h1 style="color: #757575;font-family: Nunito,'sans-serif'">Codeigniter <span style="font-family: sans-serif;font-size: 14px;color: grey;">CI 3.x.x</span></h1>
                                    <div class="progress" style="width: 200px;">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                            65%
                                        </div>
                                    </div>      
                                 </div>
                                 <div class="col-md-4">
                                    <h1 style="color: #757575;font-family: Nunito,'sans-serif'">AngularJS <span style="font-family: sans-serif;font-size: 14px;color: grey;">v1.6.x</span></h1>
                                    <div class="progress" style="width: 200px;">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65"
                                        aria-valuemin="0" aria-valuemax="100" style="width:65%">
                                            65%
                                        </div>
                                    </div>      
                                 </div>
                                 <div class="col-md-4">
                                    <h1 style="color: #757575;font-family: Nunito,'sans-serif'">JavaScript <span style="font-family: sans-serif;font-size: 14px;color: grey;">ES 6</span></h1>
                                    <div class="progress" style="width: 200px;">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="75"
                                        aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                            75%
                                        </div>
                                    </div>      
                                 </div>
                                 <div class="col-md-4">
                                    <h1 style="color: #757575;font-family: Nunito,'sans-serif'">JQuery <span style="font-family: sans-serif;font-size: 14px;color: grey;">legacy</span></h1>
                                    <div class="progress" style="width: 200px;">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                        aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                            60%
                                        </div>
                                    </div>      
                                 </div>
                                 <div class="col-md-4">
                                    <h1 style="color: #757575;font-family: Nunito,'sans-serif'">Bootstrap <span style="font-family: sans-serif;font-size: 14px;color: grey;">v3.x.x</span></h1>
                                    <div class="progress" style="width: 200px;">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="55"
                                        aria-valuemin="0" aria-valuemax="100" style="width:55%">
                                            55%
                                        </div>
                                    </div>      
                                 </div>
                             </div>
                         </div>
                    </div>

                    

                    <!-- Story of me -->


                    <div class="col-sm-12" style="margin-top: 40px;margin-bottom: 40px;">
                        <h2 class="label label-success" style="font-size: 24px;">My damn Story</h2>
                    </div>
                    <div class="col-sm-12">
                        <div class="jumbotron" style="padding: 10px 10px;">
                            <p class="abt-story text-left" style="color: #757575">
                                <span style="font-size: 34px !important;"><strong>B</strong></span>orn on 1998, December 17, used to broke everything came into my way. Be it a Generator room for a factory or
                                RC car. No kid can have the amount of curiosity I have then to know how things work. The interests for machines
                                grew year by year massively.
                            </p>
                            <p class="text-left" style="color: #757575">
                                In 2011, father gifted first computer. In the next two years, the interests for machines and cars increased even
                                more via internet. Due to that <i>'lan cable'</i>, later, interests started to shift to coding and how computers worked.
                                I did a mistake of deep diving in computer world that I got lost in it and didn't clear my high school.
                            </p>
                            <p class="text-left" style="color: #757575">
                                Today, I can make both Front-end and Back-end parts of a Website/Web-application. There comes a joy, more than anybody,
                                when I craft Web-pages/Apps (CSS suck though); Be it a database-driven Web-aplication or a static website. I also like
                                designing before developing the projects: on paper and then digitally, keeping typography, colors and your content? in mind.
                            </p>
                        </div>
                    </div>
                    

                    <!-- Contact Details -->
                        
                    <div class="col-sm-12">
                        <div class="page-header text-left" id="contact">
                            <h1 style="color: #757575;font-family: Nunito,'sans-serif'">Get in Touch</h1>
                        </div>
                    </div>
                    
                    <div class="col-sm-12">
                        <span style="margin:30px;color: #757575;font-family: 'sans-serif';font-size: 21px"><i class="fa fa-envelope-o fa-lg"></i> abhigyantiwari@outlook.com</span>

                        <span style="margin:30px;color: #757575;font-family: 'sans-serif';font-size: 21px"><i class="fa fa-phone fa-lg"></i> +91 76007 32355</span>
                    </div>
                    <div class="col-sm-12" style="margin-top: 30px;">
                        <a href="https://www.linkedin.com/in/abhigyantiwari/" target="_blank" title="Link to my LinkedIn Profile"><img src="../resources/images/l.png" alt="linkedin profile" class="img-responsive link-icon"></a>
                        <a href="https://github.com/abhigyantiwari" target="_blank" title="Link to my Github Profile"><img src="../resources/images/g.png" alt="github profile" class="img-responsive link-icon"></a>
                        <a href="https://www.facebook.com/tiwariabhigyangaurave" target="_blank" title="Link to my Facebook Profile"><img src="../resources/images/f.png" alt="facebook profile" class="img-responsive link-icon"></a>
                        <a href="https://www.instagram.com/tiwariabhigyan" target="_blank" title="Link to my Instagram Profile"><img src="../resources/images/i.png" alt="instagram profile" class="img-responsive link-icon"></a>
                    </div>
                    <br><br><br><br>
                    <div class="container">
                        <iframe style="height: 300px;width: 100%"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyADnVTOd-MxHJTR03SgjeXWerzyLadxltg&q=iiht+kala+ghoda+station+road+sarod+sayajiganj+vadodara+gujarat"allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
            
            <script src="../resources/scripts/vendor/modernizr-3.5.0.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script>window.jQuery || document.write('<script src="../resources/scripts/vendor/jquery-3.2.1.min.js"><\/script>')</script>
            <script src="../resources/scripts/vendor/plugins.js"></script>
            <script src="../resources/scripts/vendor/bootstrap.min.js"></script>
        </body>
    </html>