<!doctype html>
<html class="no-js" lang="en">
    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111475004-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-111475004-1');
        </script>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                    google_ad_client: "ca-pub-8213440250297123",
                    enable_page_level_ads: true
            });
        </script>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Title changes according the page's respective controller -->
        <title>Blog | Abhigyan Tiwari</title>
        <meta name="description" content="Welcome to my blog. Here I write about Web-applications, Key Terms, Software, Best Practices, etc.">
        <meta name="keywords" content="How to blog, How to blogs, AngularJS Projects, PHP Projects, Java Projects, Web Developer, Web Application Developer, User Interface Designer in Vadodara, Web Developer in Vadodara, REST, REST API Projects, PHP REST API, AngularJS and PHP, AngulsrJS and PHP Web Application, Codeigniter Projects,
        Back-end Developer, Back End, Front End Developer, Freelance Developer in Vadodara, Gujarat, India, C, C++, PHP, MYSQL, AngularJS, Bootstrap, Jquery, Materialize, Codeigniter, Developer">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- I love Samosa, mo tan anythin -->
        <link rel="icon" href="favicon.ico">
        
        <!-- HTML5 Boilerplate Opinionated CSS -->
        <link rel="stylesheet" href="../resources/css/vendor/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
        <link rel="stylesheet" href="../resources/css/vendor/normalize.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Questrial" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="../resources/css/blog.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>        
        
        <div class="container">
            <div class="row">

                <!-- Blog Nav -->

                <div class="col-sm-12 text-right blog-nav">
                    <a href="../index.html" class="nav-link">Home</a>
                    <a href="projects.html" class="nav-link">Projects</a>
                    <a href="about.html"  class="nav-link">About</a>
                </div>

                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="text-left">
                        <h1 style="font-family: 'Helvetica', sans-serif; font-size: 30px; margin-bottom: 50px;">Blog</h1>
                        
                        <!-- Blog Article Links -->

                            <div class="text-left blog-frag">
                                <a href="blogs/api-working-and-example.html" class="blog-link">
                                    <h1 class="blog-title">What are APIs, how do they work with example</h1>
                                </a>
                                <hr>
                                <i class="blog-date">
                                <i class="fa fa-calendar fa-lg"></i>
                                Thursday 8 February 2018</i>
                            </div>

                            <div class="text-left blog-frag">
                                <a href="blogs/hospital-search-web-application-codeigniter.html" class="blog-link">
                                    <h1 class="blog-title">Codeigniter simple hospital searching application project with form validation and Google recaptcha </h1>
                                </a>
                                <hr>
                                <i class="blog-date">
                                <i class="fa fa-calendar fa-lg"></i>
                                Friday 9 February 2018</i>
                            </div>

                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>

        <script src="../resources/scripts/vendor/modernizr-3.5.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../resources/scripts/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="../resources/scripts/main.js"></script>
        <script src="../resources/scripts/vendor/plugins.js"></script>
    </body>
</html>