<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 dummy-space"></div>
        <div class="col-sm-12 dummy-space"></div>
        <div class="col-sm-12 dummy-space"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <h1><span class="myName" title="Namaste!">Abhigyan Tiwari</span></h1>
        </div>
        <div class="col-sm-12 dummy-space"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <p class="label label-info" style="font-size: 14px; font-family: sans-serif;">Web Developer</p>
            <p class="label label-success" style="font-size: 14px; font-family: sans-serif; margin-left: 15px;">UI Designer</p>
        </div>
        <div class="col-sm-12 dummy-space"></div>
        <div class="col-sm-1"></div>
        <!-- Navigation -->
        <div class="col-sm-11">
            <a href="#!blog" class="btn btn-warning" style="border:2px solid #4caf50;background-color:white;color:#424242;">Blog</a>
            <a href="#!portfolio" class="btn btn-warning" style="border:2px solid #ffeb3b;background-color:white;color:#424242;">Projects</a>
            <a href="#!about" class="btn btn-warning" style="border:2px solid #4dd0e1;background-color:white;color:#424242">About</a>
        </div>
        <div class="col-sm-12 dummy-space"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <a href="https://www.linkedin.com/in/abhigyan-tiwari-750855153/" target="_blank" title="Link to my LinkedIn Profile"><img src="resources/images/l.png" alt="linkedin profile" class="img-responsive link-icon"></a>
            <a href="https://github.com/abhigyantiwari" target="_blank" title="Link to my Github Profile"><img src="resources/images/g.png" alt="github profile" class="img-responsive link-icon"></a>
            <a href="https://www.facebook.com/tiwariabhigyangaurave" target="_blank" title="Link to my Facebook Profile"><img src="resources/images/f.png" alt="facebook profile" class="img-responsive link-icon"></a>
            <a href="https://www.instagram.com/tiwariabhigyan" target="_blank" title="Link to my Instagram Profile"><img src="resources/images/i.png" alt="instagram profile" class="img-responsive link-icon"></a>
        </div>
        <!-- Maintainence, Just Comment Out When Not: -->
        <div class="maintainence label label-warning">Website Under Construction</div>
    </div>
</div>