<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 dummy-space"></div>
        <div class="col-sm-12 dummy-space"></div>
        <div class="col-sm-12 dummy-space"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <h1><span class="myName" title="Namaste!">Abhigyan Tiwari</span></h1>
        </div>
        <div class="col-sm-12 dummy-space"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <p class="label label-info" style="font-size: 14px; font-family: sans-serif;">Web Developer</p>
            <p class="label label-success" style="font-size: 14px; font-family: sans-serif; margin-left: 15px;">UI Designer</p>
        </div>
        <div class="col-sm-12 dummy-space"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <a href="#!blog" class="btn btn-warning" style="border:1px solid #4caf50;background-color:white;color:#424242;">Blog</a>
            <a href="#!portfolio" class="btn btn-warning" style="border:1px solid #ffeb3b;background-color:white;color:#424242;">Portfolio</a>
            <a href="#!about" class="btn btn-warning" style="border:1px solid #4dd0e1;background-color:white;color:#424242">About</a>
        </div>
        <div class="maintainence label label-warning">Website Under Construction</div>
    </div>
</div>