<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>Projects</title>

        <meta name="description" content="Hello, I'm Abhigyan Tiwari, free as wind. Do You Have Web Development Work or a User Interface Design Work?
        I Can Do It For You!">
        <meta name="keywords" content="Web Developer, Web Application Developer, User Interface Designer in Vadodara, Web Developer in Vadodara,
        Back-end Developer, Back End, Front End Developer, Freelance Developer in Vadodara, Gujarat, India, C, C++, PHP, MYSQL, AngularJS, Bootstrap, Jquery, Materialize, Developer">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- I love Samosa, mo tan anythin -->

        <link rel="icon" href="../favicon.ico">
        
        <!-- HTML5 Boilerplate Opinionated CSS -->

        <link rel="stylesheet" href="../resources/css/vendor/main.css">
        <link href="../resources/css/vendor/animate.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="../resources/css/vendor/normalize.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../resources/css/projects.css">
    </head>
    <body>
        <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

            <div class="container-fluid" style="margin-top: 30px;">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11">
                        <a class="nav-link" href="../index.html">Home</a> &nbsp&nbsp&nbsp&nbsp
                        <a class="nav-link" href="blog.html">Blog</a> &nbsp&nbsp&nbsp&nbsp
                        <a class="nav-link" href="about.html">About</a>
                    </div>

                    <div class="col-sm-1"></div>
                    <div class="col-sm-11" style="margin-top: 40px">
                        <h1 class="proj-title">Projects</h1>
                    </div>

                    <div class="col-sm-1"></div>
                    <div class="col-sm-11 project-cont text-center">
                        <div class="project" style="background:url('../resources/images/project/travelr.PNG') no-repeat center center / cover">
                        </div>
                        <div class="project" style="background:url('../resources/images/project/prayoshaTourism.PNG') no-repeat center center / cover">
                        </div>
                        <div class="project" style="background:url('../resources/images/project/progQuiz.PNG') no-repeat center center / cover">
                        </div>
                        <div class="project" style="background:url('../resources/images/project/fdivision.PNG') no-repeat center center / cover">
                        </div>
                        <div class="project" style="background:url('../resources/images/project/asteroid2dae.png') no-repeat center center / cover">
                        </div>
                        <div class="project" style="background:url('../resources/images/project/mySecretProfile.PNG') no-repeat center center / cover">
                        </div>
                        <div class="project" style="background:url('../resources/images/project/xyzCafe.PNG') no-repeat center center / cover">
                        </div>
                    </div>
                </div>
            </div>
            
            <script src="../resources/scripts/vendor/modernizr-3.5.0.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script>window.jQuery || document.write('<script src="../resources/scripts/vendor/jquery-3.2.1.min.js"><\/script>')</script>
            <script src="../resources/scripts/vendor/plugins.js"></script>
            <script src="../resources/scripts/vendor/bootstrap.min.js"></script>
            <script src="../resources/scripts/main.js"></script>
        </body>
    </html>