<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Projects | Abhigyan Tiwari</title>
        <meta name="description" content="Hello, I'm Abhigyan Tiwari, free as wind. Do You Have Web Development Work or a User Interface Design Work?
        I Can Do It For You!">
        <meta name="keywords" content="Web Developer, Web Application Developer, User Interface Designer in Vadodara, Web Developer in Vadodara,
        Back-end Developer, Back End, Front End Developer, Freelance Developer in Vadodara, Gujarat, India, C, C++, PHP, MYSQL, AngularJS, Bootstrap, Jquery, Materialize, Developer">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-8213440250297123",
                enable_page_level_ads: true
            });
        </script>
        
        <!-- I love Samosa, mo tan anythin -->
        <link rel="icon" href="../favicon.ico">
        
        <!-- HTML5 Boilerplate Opinionated CSS -->
        <link rel="stylesheet" href="../resources/css/vendor/main.css">
        <link href="../resources/css/vendor/animate.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="../resources/css/vendor/normalize.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../resources/css/projects.css">
    </head>
    <body>
        <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <div class="container-fluid" style="margin-top: 30px;">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-11">
                    <a class="nav-link" href="../index.html">Home</a> &nbsp&nbsp&nbsp&nbsp
                    <a class="nav-link" href="blog.html">Blog</a> &nbsp&nbsp&nbsp&nbsp
                    <a class="nav-link" href="about.html">About</a>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-11" style="margin-top: 40px">
                    <h1 class="proj-title">Projects</h1>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-11 project-cont text-center">
                    <div class="project-div">
                        <h1>travelr.</h1>
                        <h4>Search Hotels & Attractions, Planner SPA</h4>
                        <div class="label label-danger">AngularJS</div>
                        <div class="label label-info">PHP</div>
                        <div class="label label-info">Google Maps API</div>
                        <div class="label label-success">Bootstrap</div>
                        <div class="project" style="background:url('../resources/images/project/travelr.jpg') no-repeat center center / cover">
                        </div>
                    </div>
                    <div class="project-div">
                        <h1>Prayosha Tourism</h1>
                        <h4>Travels company website. Single Page.</h4>
                        <div class="label label-danger">Materialize CSS</div>
                        <div class="project" style="background:url('../resources/images/project/prayoshaTourism.jpg') no-repeat center center / cover">
                        </div>
                    </div>
                    <div class="project-div">
                        <h1>progQuiz</h1>
                        <h4>C, C++ & Python Quiz SPA</h4>
                        <div class="label label-danger">AngularJS</div>
                        <div class="label label-success">Bootstrap</div>
                        <div class="project" style="background:url('../resources/images/project/progQuiz.jpg') no-repeat center center / cover">
                        </div>
                    </div>
                    <div class="project-div">
                        <h1>Symptoms</h1>
                        <h4>Predict diseases using AI SPA</h4>
                        <div class="label label-danger">AngularJS</div>
                        <div class="label label-success">Semantic UI</div>
                        <div class="project" style="background:url('../resources/images/project/symptoms.jpg') no-repeat center center / cover">
                        </div>
                    </div>
                    <div class="project-div">
                        <h1>Medic!</h1>
                        <h4>Find hospitals at any location. SPA</h4>
                        <div class="label label-danger">Codeigniter</div>
                        <div class="label label-info">Google Maps API</div>
                        <div class="label label-success">Semantic UI</div>
                        <div class="project" style="background:url('../resources/images/project/medic.jpg') no-repeat center center / cover">
                        </div>
                    </div>
                    <div class="project-div">
                        <h1>F Division</h1>
                        <h4>Course sharing and links website.</h4>
                        <div class="label label-danger">Materialize CSS</div>
                        <div class="project" style="background:url('../resources/images/project/fdivision.jpg') no-repeat center center / cover">
                        </div>
                    </div>
                    <div class="project-div">
                        <h1>asteroid2dae</h1>
                        <h4>Shows asteroids passing by from the earth on the same day SPA. PST time.</h4>
                        <div class="label label-danger">AngularJS</div>
                        <div class="label label-info">NASA API</div>
                        <div class="label label-success">Bootstrap</div>
                        <div class="project" style="background:url('../resources/images/project/asteroid2dae.jpg') no-repeat center center / cover">
                        </div>
                    </div>
                    <div class="project-div">
                        <h1>mySecretProfile</h1>
                        <h4>PHP Registration and Login system with profile picture.</h4>
                        <div class="label label-info">PHP</div>
                        <div class="project" style="background:url('../resources/images/project/mySecretProfile.jpg') no-repeat center center / cover">
                        </div>
                    </div>
                    <div class="project-div">
                        <h1>Dictionary</h1>
                        <h4>C++ Web-application based on pugiXML library and large OS Dictionary XML data.</h4>
                        <div class="label label-danger">C++</div>
                        <div class="project" style="background:url('../resources/images/project/cgi.jpg') no-repeat center center / cover">
                        </div>
                    </div>
                    <div class="project-div">
                        <h1>xyzCafe</h1>
                        <h4>Cafe food order SPA</h4>
                        <div class="label label-danger">AngularJS</div>
                        <div class="label label-success">Bootstrap</div>
                        <div class="project" style="background:url('../resources/images/project/xyzCafe.jpg') no-repeat center center / cover">
                        </div>
                    </div>        
                </div>
            </div>
        </div>
        
        <script src="../resources/scripts/vendor/modernizr-3.5.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../resources/scripts/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="../resources/scripts/vendor/plugins.js"></script>
        <script src="../resources/scripts/vendor/bootstrap.min.js"></script>
        <script src="../resources/scripts/main.js"></script>
    </body>
</html>
