<nav class="navbar navbar-default header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#!/" style="color:white">travelr.</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#!/" style="color:white"><span class="fa fa-home fa-lg"></span> Home</a></li>
      <li ng-show="showAbout"><a href="#!about" style="color:white"><span class="fa fa-id-card fa-lg"></span> About</a></li>
      <li ng-show="showContact"><a href="#!contact" style="color:white"><span class="fa fa-envelope-o fa-lg"></span> Contact</a></li>
    </ul>
  </div>
</nav>