<ng-include src="'views/templates/header.html'" scope="" onload=""></ng-include>
<div class="container">
	<div class="row">
		<div class="col-sm-12 about-title">
			About
		</div>
		<div class="col-sm-12">
			<div class="jumbotron about-cont">
				'travelr.' Project, given by my teacher Darpan Sir at IIHT Institute;
				The goal of the app is to search and list hotels, attractions and make travel plans.
				Based on the Google Maps API (Geocode, Place Search & Place Photos)
			</div>
		</div>
		<div class="col-sm-12 archi">
			Architecture
		</div>
		<div class="col-sm-12">
			<div class="row jumbotron">
				<div class="col-sm-2">
					<img src="resources/media/html5.png" alt="" class="img-responsive"  height="30px">
				</div>
				<div class="col-sm-2">
					<img src="resources/media/css3.png" alt="" class="img-responsive"  height="30px">
				</div>
				<div class="col-sm-2">
					<img src="resources/media/angular.png" alt="" class="img-responsive"  height="30">
				</div>
				<div class="col-sm-2">
					<img src="resources/media/php.png" alt="" class="img-responsive"  height="30">
				</div>
				<div class="col-sm-2">
					<img src="resources/media/bootstrap.png" alt="" class="img-responsive"  height="30">
				</div>
				<div class="col-sm-12">
					<img src="resources/media/api.png" alt="" class="img-responsive" height="20px;">
				</div>
			</div>
		</div>
	</div>
</div>