<div class="container-fluid" style="padding-bottom: 60px;">
	<div class="row contact">
		<div class="col-sm-6">
			<ng-include src="'views/templates/header.html'" scope="" onload=""></ng-include>
			<div class="feedback-sent text-success"></div>
			<!-- Contact Form -->
			<form class="form-horizontal">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="First Name" name="first_name" id="first_name" ng-model="first_name">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Last Name" name="last_name" id="first_name" ng-model="last_name">
				</div>
				<div class="form-group">
					<input class="form-control" type="email" placeholder="Email" name="email" id="email" ng-model="email">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="City" name="city" id="city" ng-model="city">
				</div>
				<textarea class="form-control" name="message" id="message" cols="30" rows="5" placeholder="Enter Message" ng-model="message"></textarea>
				<span class="field-empty text-danger"></span>
				<button class="btn btn-success btn-sm" ng-click="contact(first_name, last_name, email, city, message)"><i class="fa fa-envelope-o fa-lg"></i> Contact</button>
			</form>
		</div>
		<div class="col-sm-6 map-container">
			<iframe class="google-map"
			frameborder="0" style="border:0"
			src="https://www.google.com/maps/embed/v1/place?key=AIzaSyADnVTOd-MxHJTR03SgjeXWerzyLadxltg&q=iiht+kala+ghoda+station+road+sarod+sayajiganj+vadodara+gujarat"allowfullscreen>
			</iframe>
		</div>
	</div>
</div>