<video playsinline autoplay muted loop poster="" id="bgvid">
	<source src="resources/media/bg-vid.mp4" type="video/mp4">
</video>

<div class="container-fluid">
	<div class="text-center">
		<h1 class="logo">travelr.</h1>
	</div>
	<div class="rows nav-btns text-center">
		<div class="col-sm-12">
			<a class="btn btn-default home-nav-btn animated pulse" href="#!hotels"><i class="fa fa-hotel fa-1x"></i> Hotels</a>
			<a class="btn btn-default home-nav-btn animated pulse" href="#!attractions"><i class="fa fa-tree fa-1x"></i>  Attractions</a>
			<a class="btn btn-default home-nav-btn animated pulse" href="#!planner"><i class="fa fa-book fa-1x"></i>  Planner</a>
		</div>
	</div>
	<div class="text-center other-nav">
		<a href="#!about" class="other-nav-links">About</a>&nbsp&nbsp
		<a href="#!contact" class="other-nav-links">Contact</a>
	</div>
</div>