<div class="network-err text-left">
	Internet Connection Problem
</div>
<ng-include src="'views/templates/header.html'" scope="" onload=""></ng-include>
<div class="container-fluid" style="width: 100%">
	<div class="row" style="height: 100%;margin-left: 0px !important">
		<div class="col-lg-5 text-center hotel-search-cont">
			<div class="hotel-title">Search Hotels</div>
			<input type="text" class="area-input" placeholder="City, locality or state" ng-model="hotelInput"><br>
			<button class="btn btn-danger search" ng-click="hotelSearch(hotelInput)"><i class="fa fa-search"></i> Search</button>
			<br><span class="text-danger hotel-input-empty"></span>
		</div>
		<div class="col-lg-7 hotel-results" id="scroll">
			<div ng-show="msg">
				<div class="text-center hotel-search-suggest">Enter a place / city / state name at left to see hotels.<br><span class="fa fa-smile fa-3x" style="color:yellow"></span></div>
			</div>
			<i class="fa fa-spinner fa-spin fa-3x"></i>
			
			<div class="place-card animateng" ng-repeat="results in hotels.results" id="results">
				<div class="place-name">
					{{results.name}}
				</div>
				<div class="place-img"> 
					<img src="api/photo.api.php?photoRef={{results.photos[0].photo_reference}}" alt="Sorry photo not Available" class="img-responsive place-img">
				</div>
				<hr>
				<div class="place-details">
					<span class="label label-warning">Ratings:<span class="fa fa-star fa-lg"></span> {{checkRating(results.rating)}}</span>
					<br>
					<span class="label label-success">Addresss</span>
					<br>{{results.vicinity}}
				</div>
			</div>
		</div>
	</div>
</div>