<ng-include src="'views/templates/header.html'" scope="" onload="" ng-show="showNav"></ng-include>
<div class="container planner-cont" ng-show="showBody">
	<div class="row row-eq-height">
		<div class="col-sm-12 text-center planner-title">
			Welcome to travel planner! <br>
			<span style="font-size: 28px">Plan & Print</span>
		</div>
		<div class="planCard">
			<div class="panel panel-success text-center">
				<div class="panel-heading"><i class="fa fa-arrows fa-lg"></i>&nbsp Destinations:</div>
				<div class="panel-body">
					<input type="text" ng-model="destination">
					<button class="add-btn btn btn-success" ng-click="addPlan(destination,'details-destination')"><i class="fa fa-plus fa-lg"></i> Add</button>
					<div class="details-destination">
						<span class="text-success" ng-repeat="destination in plannerArr.destination track by $index">{{destination}} <span class="btn btn-danger btn-sm" ng-click="removePlan(destination, 'destination')"> X </span><br></span>
					</div>
				</div>
			</div>
		</div>
		<div class="planCard">
			<div class="panel panel-success text-center">
				<div class="panel-heading"><i class="fa fa-binoculars fa-lg"></i>&nbsp Activities:</div>
				<div class="panel-body">
					<input type="text" ng-model="activity">
					<button class="add-btn btn btn-success" ng-click="addPlan(activity,'details-activity')"><i class="fa fa-plus fa-lg"></i> Add</button>
					<div class="details-activity">
						<span class="text-success" ng-repeat="activity in plannerArr.activity track by $index">{{activity}} <span class="btn btn-danger btn-sm" ng-click="removePlan(activity, 'activity')"> X </span><br></span>
					</div>
				</div>
			</div>
		</div>
		<div class="planCard">
			<div class="panel panel-success text-center">
				<div class="panel-heading"><i class="fa fa-clock-o fa-lg"></i>&nbsp Duration:</div>
				<div class="panel-body">
					<input type="number" ng-model="duration" style="width: 40px">Days
					<button class="add-btn btn btn-success" ng-click="addPlan(duration,'details-duration')"<i class="fa fa-plus fa-lg"></i> Add</button>
					<div class="details-duration">
						<span class="text-success label label-success">Duration: {{plannerArr.duration}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="planCard">
			<div class="panel panel-success text-center">
				<div class="panel-heading"><i class="fa fa-suitcase fa-lg"></i>&nbsp Backpack:</div>
				<div class="panel-body">
					<input type="text" ng-model="backpack">
					<button class="add-btn btn btn-success" ng-click="addPlan(backpack,'details-backpack')"><i class="fa fa-plus fa-lg"></i> Add</button>
					<div class="details-backpack">
						<span class="text-success" ng-repeat="backpackItem in plannerArr.backpack track by $index">{{backpackItem}} <span class="btn btn-danger btn-sm" ng-click="removePlan(backpackItem, 'backpack')"> X </span><br></span>
					</div>
				</div>
			</div>
		</div>
		<div class="planCard">
			<div class="panel panel-success text-center">
				<div class="panel-heading"><i class="fa fa-money fa-lg"></i>&nbsp Budget:</div>
				<div class="panel-body">
					<input type="number" ng-model="budget" style="width: 100px">
					<button class="add-btn btn btn-success" ng-click="addPlan(budget,'details-budget')"><i class="fa fa-plus fa-lg"></i> Add</button>
					<div class="details-budget">
						<span class="text-success label label-success">Budget: {{plannerArr.budget | number}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="planCard">
			<div class="panel panel-success text-center">
				<div class="panel-heading"><i class="fa fa-list-ul fa-lg"></i>&nbsp TODO Before Journey</div>
				<div class="panel-body">
					<input type="text" ng-model="todoBefore">
					<button class="add-btn btn btn-success" ng-click="addPlan(todoBefore,'details-todo-before')"><i class="fa fa-plus fa-lg"></i> Add</button>
					<div class="details-todo-before">
						<span class="text-success" ng-repeat="todoBefore in plannerArr.todoBefore track by $index">{{todoBefore}}  <span class="btn btn-danger btn-sm" ng-click="removePlan(todoBefore, 'todoBefore')"> X </span><br></span>
					</div>
				</div>
			</div>
		</div>
		<div class="planCard">
			<div class="panel panel-success text-center">
				<div class="panel-heading"><i class="fa fa-list fa-lg"></i>&nbsp TODO During Journey</div>
				<div class="panel-body">
					<input type="text" ng-model="todoDuring">
					<button class="add-btn btn btn-success" ng-click="addPlan(todoDuring,'details-todo-during')"><i class="fa fa-plus fa-lg"></i> Add</button>
					<div class="details-todo-during">
						<span class="text-success" ng-repeat="todoDuring in plannerArr.todoDuring track by $index">{{todoDuring}}  <span class="btn btn-danger btn-sm" ng-click="removePlan(todoDuring, 'todoDuring')"> X </span><br></span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 text-center">
			<button class="btn btn-success btn-lg" ng-click="printPlan()"><i class="fa fa-print fa-lg"></i> Print Plan</button>
		</div>
	</div>
</div>
<div class="container-fluid text-center" ng-show="showTable">
	<br><br>
	<button class="btn-warning btn-lg btn" ng-click="backToPlanner()"><i class="fa fa-arrow-left fa-lg"></i> Back</button><br><br>
	<table class="table table-responsive table-success">
		<thead>
			<tr>
				<td>Plans</td>
				<td>Value</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><i class="fa fa-arrows fa-lg"></i>Destinations</td>
				<td><span ng-repeat="destination in plannerArr.destination"><span class="fa fa-circle-thin fa-lg"></span> {{destination}}</span>
			</td>
		</tr>
		<tr>
			<td><i class="fa fa-binoculars fa-lg"></i>Activity</td>
			<td><span ng-repeat="activity in plannerArr.activity"><span class="fa fa-circle-thin fa-lg"></span> {{activity}}</span></td>
		</tr>
		<tr>
			<td><i class="fa fa-clock-o fa-lg"></i>Duration</td>
			<td>{{plannerArr.duration}}</td>
		</tr>
		<tr>
			<td><i class="fa fa-suitcase fa-lg"></i>Backpack</td>
			<td><span ng-repeat="backpack in plannerArr.backpack"><span class="fa fa-circle-thin fa-lg"></span> {{backpack}}</span></td>
		</tr>
		<tr>
			<td><i class="fa fa-money fa-lg"></i>Budget</td>
			<td>{{plannerArr.budget}}</td>
		</tr>
		<tr>
			<td><i class="fa fa-list-ul fa-lg"></i>TODO Before Journey</td>
			<td><span ng-repeat="todoBefore in plannerArr.todoBefore"><span class="fa fa-circle-thin fa-lg"></span> {{todoBefore}}</span></td>
		</tr>
		<tr>
			<td><i class="fa fa-list fa-lg"></i>TODO During Journey</td>
			<td><span ng-repeat="todoDuring in plannerArr.todoDuring"><span class="fa fa-circle-thin fa-lg"></span> {{todoDuring}}</span></td>
		</tr>
	</tbody>
</table>
<br><br>
<button class="btn btn-primary btn-lg" ng-click="printPlanFinally()"><i class="fa fa-print fa-lg"></i> Print</button>
</div>